    .container {
        background: #EB5757;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #EB5757);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #EB5757);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 70%;
    }
    
    ;
    #a {
        margin-top: 20%;
        width: 80%;
    }
    
    .navbar {
        background: #EB5757;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #EB5757);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #EB5757);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .table {
        background: rgb(248, 248, 248)
    }
    
    #container {
        background: #EB5757;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #EB5757);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #EB5757);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .tr {
        text-align-last: center
    }
    
    .card-footer {
        background: #EB5757;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #EB5757);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #EB5757);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    #b {
        background: #FFEFBA;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .h6 {
        text-decoration-line: underline;
        text-decoration-style: solid;
    }
    
    #c {
        background: #FFEFBA;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    # {
        background: #FFEFBA;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #FFEFBA);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    #d {
        background: #EB5757;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #000000, #EB5757);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #000000, #EB5757);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 70%;
    }