<div class="container">


    <div class="modal-body center-align text-danger">
        <br>
        <h4>Error 404 page not found</h4>
        <br> <br>
        <h5>Wrong Page buddy ehh!!!</h5>
        <br> <br> <br>
        <img src="assets/img/p.jpg" class="rounded-circle" style=" width:40% " />
        <br> <br> <br>
        <p><a href="http://localhost:4200" class="tooltip-test" title="Job-Search">Main page </a> Or <a href="http://localhost:4200/login" class="tooltip-test" title="Login first">Login page</a> For a successfull Job search.</p>
    </div>
</div>